body {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 1.5em;
  font-size:90%;
  background-image:url("img/bg.png"); 
}
p:lang(cs) + p:lang(cs) { text-indent: 1em; } 


a:active, a:visited, a:link {
  text-decoration: none;
  color: #9999ff;
}
a:hover  {
  text-decoration: underline;
}
div#main-applet-body {
  text-align: left;
  width:90%;
  background-color: white;
  border: 1px solid silver;
  margin:1em auto;
  padding: 0;
}
div#top, div#footer {
  background-color: #f0f0f0;
  padding: 0.5em 1em 0.5em 1em;
}
div#top a, div#footer a {
  margin-right: 2em;
  letter-spacing: 0.2em;
}
div.lang {
  float: right;
}
div#main {
  margin:2em;
}

div.section-body {
  padding: 0.3em 1em 0.3em 1em;
  margin-top: 0;
  margin-bottom: 1.5em;
  border: 2px solid  #ccccff; 
  border-top-style: none;
}

div#main h1 {
  text-align: center;
  font-size: 18pt;
  font-weight: normal;
  margin-bottom:1em;
  color: #336600;
}
div#main h2 {
  background-color: #ccccff;
  font-size: 12pt;
  margin-bottom: 0;
  padding: 0.1em 1em ;
  color: #663366;
}
div#main h3 {
  margin-top: 1em;
  margin-bottom: 0.1em;
  font-size: 90%;
  color: #9999ff;
}
div#main p {
  margin-top: 0.2em;
}
div#main ul {
  margin-top: 0.2em;
  padding-left: 1em;
}


div.section-code {
  color: black;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #ffffcc;
}
div.section-code code {
  font-size: 10pt;
  font-family: "Courier New";
}

div.section-code em {
  color: blue;
  font-weight: bolder;
}


